.hero-container.hero-commit-image-background  
  .hero-content
    .hero-commit-logo
      = image_tag "/images/home/hero-commit-logo.png"
    .hero-commit-tagline
      %h1 You belong here.
    %a.hero-commit-cta{:href => "/events/commit/"}
      = image_tag "/images/home/hero-commit-cta-btn.png"

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
