<% 
current_page.data.canonical_path = current_article.data.canonical_path if current_article.data.canonical_path
author = author_data(gitlab_handle: current_article.data.author_gitlab)
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "includes/layout/head" %>
    <% if current_page.data.postType %>
      <script>
        dataLayer.push({'postType': '<%= current_page.data.postType %>'});
      </script>
    <% end %>
    <% if current_page.data.tags %>
      <script>
        dataLayer.push({'tags': '<%= current_page.data.tags.split(", ") %>'});
      </script>
    <% end %>
    <% if current_page.data.categories %>
      <script>
        dataLayer.push({'category': '<%= current_page.data.categories %>'});
      </script>
    <% end %>
  </head>
  <body data-spy="scroll" data-target=".qnav" style="background: #ffffff">
    <%= partial "includes/google/gtm" %>
    <%= partial "includes/layout/header" %>
    <template id="slp-blog">
      <main class="slpBlog slp-grid slp-mx-auto">
        <%= partial "includes/cms/blog_post/slp-blog-header", locals: { author: author } %>
        <article class="slpBlog__article">
          <% if current_page.data.image_title %>
            <img alt="" src="<%= current_page.data.image_title %>" width="100%"/>
          <% end %>
          <%= yield %>
        </article>
        <aside class="slpBlog__aside slp-flex slp-flex-col slp-justify-start slp-pt-6">
          <%= partial "includes/cms/blog_post/slp-social-follow" %>
          <slot name="non-slippers-aside-items"></slot>
          <% if current_page.data.merch_sidebar %>
            <%= partial "includes/cms/blog_post/slp-merch-sidebar" %>
          <% end %>
        </aside>
        <footer class="slpBlog__footer">
          <% if current_page.data.merch_banner %>
            <%= partial "includes/cms/blog_post/slp-merch-banner" %>
          <% end %>
          <hr class="slp-border slp-bg-grayscale-highlight slp-max-w-screen-md slp-mx-auto slp-mb-20" />
          <%= partial "includes/cms/blog_post/slp-related-content" %>
          <slot name="non-slippers-footer-items"></slot>
          <hr class="slp-border slp-bg-grayscale-highlight slp-max-w-screen-md slp-mx-auto slp-mt-24" />
        </footer>
      </main>
    </template>
    <script data-cookieconsent="ignore" src="/javascripts/slippers-blog.js" type="text/javascript"></script>
    <slp-blog>
      <%= yield %>
      <div slot="non-slippers-aside-items">
        <%= partial "includes/newsletter-signup.html" %>
      </div>
      <div slot="non-slippers-footer-items">
        <% unless current_page.data.install_cta == false %>
          <%= partial "includes/blog/try" %>
        <% end %>
        
        <!--% if ci_environment? UNCOMMENT THIS FOR PRODUCTION %-->
          <%= partial "includes/blog/comments" %>
        <<!--% end %-->
      </div>
    </slp-blog>
    <%= partial "includes/layout/footer" %>
    <% unless current_article.data.ee_cta == false %>
      <%= partial "includes/features/gitlab-ee-trial" %>
    <% end %>
  </body>
</html>
